/* Contenedor principal del perfil */
.contenedor-promociones {
    max-width: 1700px;
    height: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
